<html>
  <body>
    <center>
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="/about">About</a>&nbsp;&nbsp;
        <a href="/contact">Contact</a>&nbsp;&nbsp;
        <a href="/login">Login</a>&nbsp;&nbsp;
        <a href="/register">Register</a>&nbsp;&nbsp;
        
        <h1>Login Here !</h1>
      <form action="/loginUser" method="POST">  
        <input type="text" placeholder="Enter Username" name="username"/><br/><br/>
        <input type="text" placeholder="Enter Password" name="password"/><br/><br/>
        <input type="submit" value="Login"/><br/><br/>
    </form>
    </center>

  </body>
</html>

