<html>

<body>
  <center>
    <a href="/">Home</a>&nbsp;&nbsp;
    <a href="/about">About</a>&nbsp;&nbsp;
    <a href="/contact">Contact</a>&nbsp;&nbsp;
    <a href="/login">Login</a>&nbsp;&nbsp;
    <a href="/register">Register</a>&nbsp;&nbsp;

    <h1>Contact Page Invoked</h1>
    <hr>
    <h1>
    <% 
      for(i=0 ; i<arr.length; i++) 
      { 
    %>
      <%= i%> : <%= arr[i]%> <br>
    <% 
      } 
    %>
  </h1>
  </center>

</body>

</html>