<html>
  <body>
    <center>
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="/about">About</a>&nbsp;&nbsp;
        <a href="/contact">Contact</a>&nbsp;&nbsp;
        <a href="/login">Login</a>&nbsp;&nbsp;
        <a href="/register">Register</a>&nbsp;&nbsp;
        
        <h1>About Page Invoked</h1>
    </center>

  </body>
</html>

