<html>
  <body>
    <center>
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="/about">About</a>&nbsp;&nbsp;
        <a href="/contact">Contact</a>&nbsp;&nbsp;
        <a href="/login">Login</a>&nbsp;&nbsp;
        <a href="/register">Register</a>&nbsp;&nbsp;
        
        <h1 style="color: red;">Register Here !</h1>
      <form action="/registerUser" method="POST">  
        <input type="text" placeholder="Enter Name" name="name"/><br/><br/>
        <input type="text" placeholder="Enter Contact" name="contact"/><br/><br/>
        <input type="text" placeholder="Enter Username" name="username"/><br/><br/>
        <input type="text" placeholder="Enter Password" name="password"/><br/><br/>
        <input type="radio" value="Male" name="gender"/>Male &nbsp;&nbsp;
        <input type="radio" value="Female" name="gender"/>Female<br/><br/>
        <input type="submit" value="Register"/><br/><br/>
      </form>
    
    </center>

  </body>
</html>

