<h1>counter App</h1>

<div class="main-div">
  <h1 class="output">{{res}}</h1>
</div>
<div class="main-div">
  <div class="btn">
<!--    <button class="decrement-btn" (click)="decrement()">Decrement</button>-->
<!--    <button class="reset-btn" (click)="reset()">Reset</button>-->
<!--    <button class="increment-btn" (click)="increment()">Increment</button>-->

    <button class="decrement-btn" (click)="handelCount('minus')">Decrement</button>
    <button class="reset-btn" (click)="handelCount('reset')">Reset</button>
    <button class="increment-btn" (click)="handelCount('plus')">Increment</button>
  </div>
</div>
