<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/login">Login</a>

<h1>Contact Page Invoked </h1>
<hr/>
<%
   for(var i=0;i<arr.length;i++)
   {
%>
   <%= i %> : <%= arr[i] %> <br/>
<%
   }
%>