<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/login">Login</a>

<center>
  <h1 style="color: red;">Login Here !</h1>
  <form action="/loginUser" method="POST">
    <input type="email" placeholder="Enter Email" name="email">
    <br/><br/>
    <input type="password" placeholder="Enter Password" name="password">
    <br/><br/>
    <input type="submit" value="Login">
  </form>
  <span>If you have not register ?<a href="/register">Click Here !</a> </span>
</center>