<a href="/">Home</a>&nbsp;&nbsp;
<a href="/about">About</a>&nbsp;&nbsp;
<a href="/contact">Contact</a>&nbsp;&nbsp;
<a href="/login">Login</a>&nbsp;&nbsp;

<center>
<h1 style="color:red">Register Here !</h1>
<form action="/saveUser" method="POST">
    <input type="text" placeholder="Enter Name" name="name"/>
    <br/><br/>
    <input type="text" placeholder="Enter Email" name="email"/>
    <br/><br/>
    <input type="text" placeholder="Enter Password" name="pass"/>
    <br/><br/>
    <input type="text" placeholder="Enter Contact" name="mobile"/>
    <br/><br/>
    <input type="submit" value="Register"/>
    <br/><br/>
</form>
</center>