ul {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    list-style-type: none;
}
button{
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}