<div class="p-4 sm:p-6 md:p-10 lg:p-20">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-4">
    <h1 class="text-2xl sm:text-3xl font-semibold">📦 Manage Products</h1>
    <button
      class="bg-white shadow text-blue-500 rounded-3xl px-4 py-2 hover:bg-blue-100 transition"
      routerLink="/admin/product/add">
      ➕ Add New Product
    </button>
  </div>

  <!-- Filter Field -->
  <mat-form-field appearance="fill" class="w-full mb-6">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search product" #input>
  </mat-form-field>

  <!-- Card Grid -->
  @if (paginatedData.length > 0) {
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <mat-card *ngFor="let item of paginatedData; trackBy: trackByIndex" class="shadow-md rounded-xl overflow-hidden">

        <!-- Product Image -->
        <div class="relative">
          <img
            mat-card-image
            [src]="thumbnail && idForImage === item._id ? thumbnail : item.image[0]"
            alt="{{item.name}}"
            class="w-full h-96 sm:h-72 md:h-80 lg:h-96 object-contain"
          />


          <!-- Small thumbnails -->
          <div class="flex gap-2 justify-start p-2 bg-gray-50 overflow-x-auto max-w-full scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 mb-4 ">
            <img *ngFor="let img of item.image; trackBy: trackByIndex"
                 [src]="img"
                 alt="{{item.name}}"
                 class="h-14 w-14 object-contain rounded cursor-pointer border hover:border-blue-500 flex-shrink-0"
                 (click)="getImgAdd(img, item._id)" />
          </div>

        </div>

        <!-- Product Info -->
<!--        <mat-card-header>-->
<!--          <mat-card-title class="text-lg font-semibold">{{ item.name }}</mat-card-title>-->
<!--          <mat-card-subtitle class="text-gray-500 truncate">{{ item._id }}</mat-card-subtitle>-->
<!--        </mat-card-header>-->

        <mat-card-content>
          <p class="text-sm text-gray-700 line-clamp-3 ">{{ item.description }}</p>
        </mat-card-content>

        <!-- Actions -->
        <mat-card-actions class="flex justify-around mt-2 mt-3">
          <button  class="bg-white shadow text-blue-500 px-6 py-2 rounded-3xl hover:bg-blue-100"
                  [routerLink]="'/admin/product/' + item._id">
            ✏️ Edit
          </button>
          <button  class="bg-white shadow text-black px-4 py-2 rounded-3xl hover:bg-blue-100"
                  (click)="deleteProduct(item._id)">
            🗑️ Delete
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  } @else {
    <h1 class="text-red-600">🚫 No Products Found!</h1>
  }

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    class="mt-6">
  </mat-paginator>
</div>
