<app-directives/>
<br><br><br>
<app-dynamic-styling/>
<br><br><br>
<app-two-way-binding/>
<br><br><br>
<app-for-loop-contextual-variable/>
<br><br><br>
<app-effect/>
<br><br><br>
<app-computed-signal/>
<br><br><br>
<app-data-type-signal/>
<br><br><br>
<app-signal/>
<br><br><br>
<app-loops/>
<br><br><br>
<app-switch-case/>
<br><br><br>
<app-if-else-flow/>
<br><br><br>
<app-getsetinputvalue/>
<br><br><br>
<app-events/>

<h1>Yogendra Patidar</h1>
<h2>{{title}}</h2>
<h4>{{title2}}</h4>
<h1>{{ 2 + 2 }}</h1>
<h1>{{'hello'.toUpperCase() }}</h1>

<app-login/>

<app-signup/>

<button (click)=" greeting()" >Click Here !</button>
<br>
<app-counter/>
